@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.navbar {
    background-color: $color-navbar;
    position: sticky;
    top: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

    .navbar-toggler {
        &:focus {
            box-shadow: none;
        }
    }

    .navbar-brand {
        color: $color-white;
    }

    .nav-link {
        color: $color-navtext;
        font-size: $font-sm;
        font-weight: 400;
        transition: all 0.3s;

        &:hover {
            color: $color-white;
        }
    }

    .active {
        color: $color-white;
    }
}