* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    margin: 0;
    border: 0;
    padding: 0;
    line-height: 29px;
}

section{
    padding-top: $spacer-3;
    padding-bottom: $spacer-3;
}