$color-navbar:#343A40;
$color-navtext:#738A9F;
$color-link:#7B8CFC;
$color-white:#fff;
$color-bg:#E9ECEF;
$color-btn:#28A745;
$color-black:#000;

$spacer-md:5px;
$spacer-0:0;
$spacer-1:10px;
$spacer-2:20px;
$spacer-3:30px;
$spacer-4:60px;

$font-xsm:12px;
$font-sm:14px;
$font-md:16px;
$font-lg:18px;
$font-xl:20px;
$font-xxl:24px;
