@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.topic-css{
    .content{
        line-height: 24px;
        font-size: $font-sm;
        font-weight: 400;
    }
    .head{
        font-size: 32px;
        font-weight: 500;
    }
    .started-btn{
        font-size: $font-sm;
        i{
            font-size: 10px;
        }
    }
}


@include mobile{
    .topic-css{
        padding-bottom: $spacer-2;
    }
}