<section class="create-website">
    <div class="container">
        <app-topics></app-topics> 
    </div>
</section>
<section class="topics-module">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <app-html></app-html>
            </div>
            <div class="col-md-4 col-12">
                <app-css></app-css>
            </div>
            <div class="col-md-4 col-12">
                <app-bootstrap></app-bootstrap>
            </div>
        </div>
    </div>
</section>